/* 
* @Author: anchen
* @Date:   2018-09-05 16:49:03
* @Last Modified by:   anchen
* @Last Modified time: 2018-09-13 15:52:03
*/
.row-item {
    margin: 0;
}
.album {
    background-color: transparent;
}
.album-list {
    padding-left: 0;
}