/* 
* @Author: anchen
* @Date:   2018-09-04 11:36:02
* @Last Modified by:   anchen
* @Last Modified time: 2018-09-04 11:46:16
*/
.article-main {
    padding: 15px 5px;
}
.article-content {
    font-size: 16px;
    font-family: 微软雅黑;
    margin-top: 10px;
    text-indent: 2em;
}