/* 
* @Author: anchen
* @Date:   2018-08-31 17:23:04
* @Last Modified by:   anchen
* @Last Modified time: 2018-09-03 17:51:54
*/

body * {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #f3f3f3;
}



