/* 
* @Author: anchen
* @Date:   2018-08-31 18:06:35
* @Last Modified by:   anchen
* @Last Modified time: 2018-08-31 18:12:35
*/
.main-container {
    width: 280px;
    margin-top: 50px;
    padding: 20px 30px;
}
.title {
    text-align: center;
}