{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block main %}

            <div id="myCarousel" class="carousel slide">
                <!-- 轮播（Carousel）指标 -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>   
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active sowing" style="background-image:url(http://127.0.0.1:8080/images/女神.jpg)">
                    </div>
                    <div class="item sowing" style="background-image:url({{url_for('static', filename='images/2.jpg')}})">
                    </div>
                    <div class="item sowing" style="background-image:url({{url_for('static', filename='images/3.jpg')}})">
                    </div>
                </div>
                <!-- 轮播（Carousel）导航 -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>




            <div class="row-item">
                
                {% for article in articles %}
                <div class="row list-item">
                    <div class="col-sm-3 hidden-xs">
                        <img class="list-pic" src="static/images/1.jpg'" alt="图片1">
                    </div>
                    <div class="col-sm-9">
                        <h4>
                            <a class="title" href="{{url_for('article_detail', id=article.id)}}">{{article.title}}</a>
                        </h4>
                        <p class="small-content">{{article.content}}</p>
                        <div class="row extra">
                            <div class="col-sm-12 ">
                                    <span style="color: rgb(91, 170, 160);" class="glyphicon glyphicon-user">
                                        {{article.author.name}}
                                    </span>
                                    <span class="glyphicon glyphicon-calendar" style="color: rgb(91, 170, 160);">
                                        {{article.createdate}}
                                    </span>
                                    <span class="glyphicon glyphicon-leaf" style="color: rgb(91, 170, 160);">
                                        {{article.catogory.name}}
                                    </span>
                                    <span class="glyphicon glyphicon-tag" style="color: rgb(91, 170, 160);">
                                        {% for tag in article.tags %}
                                        {{tag.name}}
                                        {% endfor %}
                                    </span>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
                
            <div class="row-item page">
                <ul class="pagination pagination-lg">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
            
        

{% endblock %}
