{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login_regist.css')}}">
{% endblock %}


{% block main %}

<div>
    <h3 class="title">登陆</h3>
    <form class="form-horizontal" role="form" method="post" action="{{ url_for('login') }}">
        
        <div class="form-group">
            <label class="col-sm-3 control-label">登录名：</label>
            <div class="col-sm-9">
                <input type="text" autocomplete="off" class="form-control" name="loginname" placeholder="请输入登录名" value="{{ loginname }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">密码：</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" autocomplete="off" name="password" placeholder="请输入登陆密码" value="{{ password }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <font color="red">{{ login_error }}</font>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary btn-block">登陆</button>
    </form>

</div>


{% endblock %}