{% extends 'base.html' %}

{% block title %}注册{% endblock %}

{% block header %}
<<link rel="stylesheet" href="{{url_for('static', filename='css/login_regist.css')}}">
{% endblock %}


{% block main %}

<div>
    <h3 class="title">注册</h3>
    <form class="form-horizontal" role="form" method="post" action="{{ url_for('regist') }}">
        <div class="form-group">
            <label class="col-sm-3 control-label">登录名：</label>
            <div class="col-sm-9">
                <input type="text" autocomplete="off" class="form-control" name="loginname" placeholder="请输入登录名" value="{{ loginname }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">昵称：</label>
            <div class="col-sm-9">
                <input type="text" autocomplete="off" class="form-control" name="name" placeholder="请输入昵称" value="{{ name }}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label">手机号：</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" autocomplete="off" name="telephone" placeholder="请输入手机号" value="{{ telephone }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">密码：</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" autocomplete="off" name="password" placeholder="请输入登陆密码" value="{{ password }}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">确认密码：</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" autocomplete="off" name="confirm-password" placeholder="请确认密码" value="{{ confirm_password }}">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <font color="red">{{ confirm_error }}</font>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block">提交</button>
    </form>

</div>


{% endblock %}